html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

body {
    background-color: antiquewhite;
}


.main-container {
    width: 375px;
    height: 100%;
    overflow-x: scroll;
    margin: 0 auto;
    background-color: white;
}

header {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}

.logo-img {
    width: 127px;
    margin-left: 15px;
}

.avatar-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-info {
    width: 348px;
    height: 34px;
    display: flex;
    justify-content: start;
    margin: 10px 10px;
}

.user-full-name {
    display: block;
    font-weight: bold;
    line-height: 1;
    margin: 2px 0 0 8px;

}

.user-location {
    display: block;
    font-weight: normal;
}

.post-img {
    width: 375px;
    height: 375px;
}

.icon-container {
    width: 104.34px;
    height: 22.13px;
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 0 10px;
}

.icons {
    width: 26px;
    height: 26px;
}

.icons:hover, icons:focus {
    opacity: 60%;
}

.like-comment-container {
    display: flex;
    flex-direction: column;
}

.like-count, .post-desc {
    margin: 10px 0 0 20px
}

.like-count, .post-desc span {
    font-weight: 900;
}